@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body{
    background-color: #CBEAED;
}

.icono-footer {
    width : 42px ;


}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.seccion-footer {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}

.separador-footer {
    width: 90%;
    height: 0.5vh;
    background-color: #00AEC9;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}