@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body{
    background-color: #CBEAED;
    font-family:'Lato', sans-serif;
}



.header {
    
    height: 60px;
    display: flex;
    background-color: #CBEAED;

    
}

.logotipo {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    
   

}

.razon-social {
    font-family: "abel";
    font-size: 32px;
}

.carrito {
    width: 35px;
    height: 35px;
   
}

.header-logo {
    width: 85%;
    height: 60px;
    display: flex;
    align-items: center;

}

.header-carrito {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr-header {
    width: 95%;
    border: 1px solid #00AEC9;
}

.vl-header {
    height: 60px;
    border: 1px solid #00AEC9;

}

.icono-footer {
    width : 42px ;


}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #CBEAED;
}

.seccion-footer {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}

.separador-footer {
    width: 90%;
    border: 1px solid #00AEC9;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.main-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.redesSociales{
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    
}
.instagram{
    width: 35px;
    height: 35px;

}

.facebook {
    width: 35px;
    height: 35px;

}

.libroCorazon{
    width: 130px;
    height: 130px;
    margin-left: 30px;  
    margin-top: 15px;  
}

.main-presentacion{
    display: flex;
    align-items: start;
    margin-top: 50px;
    height: 480px;
    /*background-color: brown;*/
}

.cita-imagen{
    width: 50%;
}

.cita{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: right;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.autor{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: right;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.slogan{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align: left;
    margin-left: 15px;
    margin-top: 90px;
}

.primeraParteSlogan{
    margin-bottom: 150px;
}

.hr-redesSociales {
    width: 60%;
    border: 2px solid #D3DE32;
}

.vl-separationMain {
    height: 400px;
    border: 1px solid #FFAEC9;
}


.hr-citaCorazon {
    width: 93%;
    border: 1px solid #FFAEC9;}

.libro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 28px;

}

.portada-libro {
    width: 70%;
    border-radius: 13px;
    margin-bottom: 15px;
}

.titulos-libros {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px; 
}

.autores-libros {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}

.precios-libros {
    font-size: 25px;
    background-color: #D3DE32;
    border-radius: 5px;
    font-weight: bold;
}

.separador-libros {
    width: 60%;
    border: 1px solid #FFAEC9;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.ultimo-precio {
    margin-bottom: 60px;

}